VITE_API_URL=http://localhost:44348
VITE_AUTHORITY=http://localhost:44348
VITE_CLIENT_ID=Dentify_App
VITE_PATIENT_PORTAL_CLIENT_ID=Dentify_PatientPortal
VITE_SCOPE=openid profile email phone roles Dentify offline_access
